*{
		padding:0; margin:0;
}
html{
	height: 100%;
}
.main{
	height: 100%;
	width:900px;
	margin:auto;
	margin-top:200px;
}
#object{
    width:400px;
}


.findbyaddress{
	width: 272px; 
    height: 76px; 
	margin-bottom:20px;
    background: url(../img/find-button.png); 
	background-size: cover;
}
.findbyaddress a{
	display: block; 
    text-align: center; 
    height: 100%;
}

.directories{
	width: 272px; 
    height: 76px; 
	margin-bottom:20px;
    background: url(../img/dictionaries.png); 
	background-size: cover;
}
.directories a{
	display: block; 
    text-align: center; 
    height: 100%;
}

.reports{
	width: 272px; 
    height: 76px; 
	margin-bottom:20px;
    background: url(../img/reports.png); 
	background-size: cover;
}
.reports a{
	display: block; 
    text-align: center; 
    height: 100%;
}
