*{
		padding:0; margin:0;
}
html{
	height: 100%;
}
.main{
	height: 100%;
	width:900px;
	margin:auto;
	padding-top:100px;
}
#object{
    width:400px;
}
.main_button{
    font-size: 28px;

    margin: auto;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    text-shadow: black 0px 1px 1px;
    cursor: pointer;
    width: 303px;
}
.div_main {
    width: 272px;
    \\height: 76px;
        \\background-image: url(../img/web-15.png);
    \\background-size: cover;
}
