*{padding:0; margin:0;}
img{border:none;}
html{height: 100%;}
body{height: 100%;width:100%;}

.wrap{
	margin:auto;
	margin-top:100px;
	max-width:1200px;
	min-width:1085px;
	height:100%;
	overflow:hidden;
}
.pbf_link{
	width: 50px; 
    height: 50px; 
	margin-right:15px;
    background: url(../img/edit.png); 
	background-size: cover;
	float: left;
}
.pbf_link a{
	display: block; 
    text-align: center; 
    height: 100%;
}
.pbs_link{
	width: 50px; 
    height: 50px; 
	margin-right:15px;
    background: url(../img/save.png); 
	background-size: cover;
	float: left;
}
.pbs_link a{
	display: block; 
    text-align: center; 
    height: 100%;
}
.pbt_link{
	width: 50px; 
    height: 50px; 
	background: url(../img/refresh.png); 
	background-size: cover;
	float: left;
}
.pbt_link a{
	display: block; 
    text-align: center; 
    height: 100%;
}

.info{
	width:99%;
	margin:10px 0px;
	padding:5px 5px;
}
.info_brd{
	width:99%;
	padding:10px 0px 10px 0px;
	border: 1px solid black;
	margin:10px 0px;
	padding:5px 5px;
}
.wrap_bt{
	width:100%;
	overflow:hidden;
}
.info_brd_L{
	display:table-cell;
	width:59%;
	padding:10px 0px 10px 0px;
	border: 1px solid black;
	margin:10px 0px;
	padding:5px 5px;
	float: left;
}
.info_brd_R{
	display:table-cell;
	width:38%;
	padding:10px 0px 10px 0px;
	border: 1px solid black;
	margin:10px 0px;
	padding:5px 5px;
	float: right;
}
.main{
	width:100%;
	font-size: 16px;
	font-weight: 100;
	color: #000;
	margin:5px 0px;
}
.main td{
	padding:0 5px;
}
.small_button{
	width:18px;
	height:21px;
	border: 0;
	background: url(../img/more.png);
	background-repeat:no-repeat;
}
.small_inp{
	width:30px;
}
.month{
	width:42px;
	height:38px;
	margin-left:2px;
	margin-right:15px;
	border: 0;
	background: url(../img/month.png);
	background-repeat:no-repeat;
}
.exit{
	width:42px;
	height:38px;
	margin-left:2px;
	border: 0;
	background: url(../img/exit.png);
	background-repeat:no-repeat;
	background-size: cover;
}
select {
    width: 99%; /* Ширина списка в пикселах */
	font-size: 15px;
	}
input{
	width: 100%;
}

button{
	cursor: pointer;
	border-radius: 5px;
	margin: 0px 0px 0px 0px;
	padding:1px 1px;
	font-size:16px;
}
span{
	font-size: 17px;
	font-weight: 100;
	color: #000;
}
p{
	font-size: 17px;
	font-weight: 100;
	color: #000;
}